SIMULATOR_ISPB=99999999

IBMMQ_HOST=localhost
IBMMQ_PORT=1414
IBMMQ_CHANNEL=DEV.APP.SVRCONN
IBMMQ_USER=app
IBMMQ_PASSWORD=app@mq123
IBMMQ_APP_PASSWORD=app@mq123
IBMMQ_ADMIN_PASSWORD=admin@mq123
IBMMQ_QMGR_NAME=QM1

IBMMQ_QL_REQ_NAME=QL.REQ.00000000.99999999.01
IBMMQ_QL_REQ_TYPE=request
IBMMQ_QL_RSP_NAME=QL.RSP.00000000.99999999.01
IBMMQ_QL_RSP_TYPE=response
IBMMQ_QL_REP_NAME=QL.REP.00000000.99999999.01
IBMMQ_QL_REP_TYPE=report
IBMMQ_QL_SUP_NAME=QL.SUP.00000000.99999999.01
IBMMQ_QL_SUP_TYPE=support

# STR simulation parameters
STR_HORARIO_ABERTURA=07:00
STR_HORARIO_FECHAMENTO=17:30
STR_SALDO_SIMULADO=99999999.99
