.cursor/
.env
dev/ibmmq/20-spb-queues.mqsc
.DS_Store
.clj-kondo/.cache
.lsp/
.cursor/
.claude/
**/target/
openspec/
CLAUDE.md
backend/.lein-failures
**/.clj-kondo/
backend/.nrepl-port
**/.shadow-cljs/
**/node_modules/
**/resources/public/js/
backend/.lein-repl-history
frontend/.lein-failures
